* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

body {
    background: rgb(68, 100, 173);
    background: linear-gradient(
        100deg,
        rgba(68, 100, 173, 1),
        rgba(74, 21, 110, 1)
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}



#menu-button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    background: #f4f4f4;
}

#menu-button {
    padding: 1rem 1rem;
    width: 150px;
    height: 90px;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menu-button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
}

header {
    text-shadow: 2px 2px 15px rgb(176, 230, 255);
    font-size: 1.2rem;
}

header,

form {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


button {
    height: 60px;    
    font-size: 1.8rem;
    width: 60px;
    border: none;

    background: #f4f4f4;
}

button {
    padding: 0.5rem 1rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
}
.description,
.deadlineDate{
    
 font-size: 1.8rem;


}


/* Parte retirada do Materialize css para a tabela e alterado para estar dentro do style padrão da aplicação*/

table, th, td {
    border: none;
  }
  
  table {
    width: 100%;
    display: table;
  }
  
  table.bordered > thead > tr,
  table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0;
  }
  
  table.striped > tbody > tr:nth-child(odd) {
    background-color: rgb(104, 43, 145);
  }
  
  table.striped > tbody > tr > td {
    border-radius: 0;
  }
  
  table.highlight > tbody > tr {
    transition: background-color .25s ease;
  }
  
  table.highlight > tbody > tr:hover {
    background-color: #f2f2f2;
    color: rgba(74, 21, 110, 1);
    font-weight: bold;
  }
  
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center;
  }
  
  thead {
    border-bottom: 1px solid #d0d0d0;
  }
  
  td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }
  
  @media only screen and (max-width: 992px) {
    table.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      /* sort out borders */
    }
    table.responsive-table td:empty:before {
      content: '\00a0';
    }
    table.responsive-table th,
    table.responsive-table td {
      margin: 0;
      vertical-align: top;
    }
    table.responsive-table th {
      text-align: left;
    }
    table.responsive-table thead {
      display: block;
      float: left;
    }
    table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0;
    }
    table.responsive-table thead tr th::before {
      content: "\00a0";
    }
    table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;
    }
    table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top;
    }
    table.responsive-table th {
      display: block;
      text-align: right;
    }
    table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left;
    }
    table.responsive-table tr {
      padding: 0 10px;
    }
    table.responsive-table thead {
      border: 0;
      border-right: 1px solid #d0d0d0;
    }
    table.responsive-table.bordered th {
      border-bottom: 0;
      border-left: 0;
    }
    table.responsive-table.bordered td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
    table.responsive-table.bordered tr {
      border: 0;
    }
    table.responsive-table.bordered tbody tr {
      border-right: 1px solid #d0d0d0;
    }
  }