* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

body {
    background: rgb(68, 100, 173);
    background: linear-gradient(
        100deg,
        rgba(68, 100, 173, 1),
        rgba(74, 21, 110, 1)
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}


header {
    text-shadow: 2px 2px 15px rgb(176, 230, 255);
    font-size: 1.2rem;
}

header{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.todo-form {
  margin: 40px 0px;
}
.item{
  width: 300px;
  background-color: aqua;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 7px;
}

.checked { 
  color: green;
  background-color: blue;
}


  /*----------Buttons Styles------------*/

  button {
    height: 60px;    
    font-size: 1.8rem;
    width: 60px;
    border: none;
    border-radius: 5px;
    background: #f4f4f4;
  }
  
  button {
    padding: 0.5rem 1rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
  }
  
  
  .edit,
  .check,
  .delete-button {
    
    font-size: 0.8rem;
    height: 35px;    
    width: 35px;
    border: none;
    border-radius: 5px;
    background: #f4f4f4;
    padding: 0.5rem 0.5rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  b.delete-button {
    padding: 0.5rem 1rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .delete-button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
  }
  
  
  .tags,
  .description,
  .deadline{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;   
   font-size: 1.2rem;
   
  }

  #menu-button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    background: #f4f4f4;
}

#menu-button {
    padding: 1rem 1rem;
    width: 150px;
    height: 90px;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menu-button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
}


#filter-button {
  height: 60px;    
  font-size: 1.8rem;
  width: 120px;
  border: none;

  background: #f4f4f4;
}


