* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus,
*:active {
    outline: 0 !important;
    box-shadow: 0 !important;
}

body {
    background: rgb(68, 100, 173);
    background: linear-gradient(
        100deg,
        rgba(68, 100, 173, 1),
        rgba(74, 21, 110, 1)
    );
    color: white;
    min-height: 100vh;
    margin-bottom: 2rem;
}


header {
    text-shadow: 2px 2px 15px rgb(176, 230, 255);
    font-size: 1.2rem;
}

header{
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
  display: grid;
  justify-items: stretch;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; 
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  
}

.todoItem{
  background-color: rgba(74, 21, 110, 0.342);
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
    
}

.todo-form {
  margin: 40px 0px;
}

.item{
  width: 500px;
  background-color: white;
  font-size: 10pt;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 7px 7px 7px 7px;
  color:rgba(74, 21, 110, 1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}

.item:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.todoItem{
  align-items: center;
}
.todoItem i{
  color: white;
  font-size: 12pt;
  padding-right: 20px;
  padding-left: 20px;
}

.checked { 
  color:white;
  background-color: blue;

}


  /*----------Buttons Styles------------*/

  button {
    height: 60px;    
    font-size: 1.8rem;
    width: 60px;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  
  button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
  }
  
  
  .edit,
  .check,
  .delete-button {
    
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);

    font-size: 0.8rem;
    height: 35px;    
    width: 35px;
    border: 1px black;
    border-radius: 5px;
    background: #f4f4f4;
    padding: 0.5rem 0.5rem;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  
  .delete-button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
  }
  
  
  .tags,
  .description,
  .deadline{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;   
   font-size: 1.2rem;
   
  }

  #menu-button {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 16px;
    background: #f4f4f4;
}

#menu-button {
    padding: 1rem 1rem;
    width: 150px;
    height: 90px;
    color: rgba(74, 21, 110, 1);
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

#menu-button:hover {
    background: rgba(74, 21, 110, 1);
    color: white;
}


.filter-button {
  height: 60px;    
  font-size: 1.8rem;
  width: 120px;
  border: none;

  background: #f4f4f4;
}






.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar {
  display: flex;
}

.modal {
  background: white;
  width: 60%;
  min-width: 300px;
  padding: 40px;
  border: 10px solid rgba(74, 21, 110, 1);;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mostrar .modal {
  animation: modal .3s;
}

.fechar {
  position: absolute;
  font-size: 0.8em;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid white;
  background: rgba(74, 21, 110, 1);
  color: white;
  font-family: "PT Mono", monospace;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}
h3{
  color: black;
}