body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container{
 margin: 20px;

}

.row{
  width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-01{
  color: white;
  align-content: center;
  background: blue;
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icon{
  padding: 7px;
  font-size: 15pt;
}
.description{
  font-size: 10pt;
  font-weight: 500;
  padding-bottom: 5%;
}
.deadline,
.createDate{
  font-size: 10pt;
}
.icon{
  padding: 1%;
}




@media(max-width:800px){
  .card-01{
    flex:100%;
    max-width: 600px;
  }

}

/*
#e95659

#2e31a6

*/